.toast {
    position: fixed;
    bottom: 20%;
    right: 20px;
    min-height: 50px;
    background-color: $white;
    border-radius: 3px;
    @include dFlex;
    z-index: 998;
    color: $green;
    transition: 0.2s linear;
    transform: translateX(110%);

    .toast_icom {
        font-size: 2.5rem;
        padding: 10px 15px;
    }
    .toast_text {
        padding-right: 15px;
    }
}

.toast--active {
    transform: translateX(0);
}
