@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Satisfy&family=Varela+Round&display=swap');

$roboto:'Roboto';
$cursive_font:'Satisfy';
$round:'Varela Round';
$cta:#fe8033;
$bg:#272b34;
$light_bg:#2b3039;
$text:#2d343e;
$white:#fff;
$green: green;

$text-color-rgba: rgba($white, .7);
$boder-color-cart: #4a4a4a29;

$height-header: 100px;